<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Top file print</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<h1>Header</h1>
    #foreach($head in $header)
        <b>$head</b><br>
    #end
<center>
    <h1>Top Content</h1>
    #set($count = 1)
    #set($periods = $table.size())
    <table>
        <tr>
            <th>Number</th>
            <th>OID/Name</th>
            <th colspan="$periods">Periods</th>
        </tr>
        #foreach($nam in $table)
            <tr>
                <td>$count</td>
                #foreach($n in $nam)
                    <td>$n</td>
                #end
            </tr>
            #set($count = $count + 1)
        #end
    </table>
</center>

</body>
</html>
